
.main {

	background-color: pink;

}

.section-1 {
	width: 50%;
	float: left;
	display: block;
}

.section-2 {
	width: 50%;
	float: right;
	border: 2px solid black;
	margin:0;
}

.section-2 header img {
	text-align: center;
	font-size: 16px;
}*

.clr {
	clear: both;