
.main {

	background-color: pink;

}

.section-1 {
	width: 100%;
	float: left;
	display: block;
}

.section-1 img {
	float: left;
}

.section-2 {
	width: 50%;
	float: right;
	border: 1px solid black;
	margin-right:50px;
	margin-bottom: 200px;
}

.section-2 header  {
	text-align: center;
}

.info {
	text-align: center;
	font-size: 16px;
}

.button {
	text-align: center;
	background-color: #3897f0;
	color: #fff;
}

.clr {
	clear: both;